<nav id="nav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      
      <a class="navbar-brand" href="<%= root_path %>">Movie Center</a>
    </div>

    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="nav navbar-nav">
        <%# update with link_to %>
        <li><%= link_to "Movies", movie_list_path %></li>
        <li><a href="#">TV Shows</a></li>
      </ul>
    </div>
  </div>
</nav>
